@font-face {
    font-family: avenirHeavy;
    src: url(../../fonts/Avenir\ Heavy.ttf);
  }
  
  /* @font-face {
    font-family: ndAstrooner;
    src: url(../Fonts/Nd-Astroneer/Nd-Astroneer.ttf);
  } */
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  section {
    padding: 60px 0;
  }
  
  .btn {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .btn:active, .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .header {
    position: fixed;
    z-index: 100;
    width: 100%;
  }
  
  .header nav {
    padding: 20px 106px;
    background-color: #ffffff;
    z-index: 2;
  }
  
  @media screen and (max-width: 1120px) {
    .header nav {
      padding: 20px 44px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .header nav {
      padding: 20px 60px;
    }
  }
  
  .header .my-navbar-brand {
    max-width: 150px;
  }
  
  .header .nav-item {
    border-radius: 8px;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    margin: 0 2rem;
  }
  
  @media screen and (max-width: 1550px) {
    .header .nav-item {
      margin: 0 1rem;
    }
  }
  
  @media screen and (max-width: 1400px) {
    .header .nav-item {
      margin: 0 0.5rem;
    }
  }
  
  @media screen and (max-width: 990px) {
    .header .nav-item {
      margin: 0.2rem 0.5rem;
    }
  }
  
  .header .nav-item:hover {
    background-color: #02264a;
  }
  
  .header .nav-item:hover a {
    color: #ffffff;
  }
  
  .header .nav-item:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 990px) {
    .header .nav-item:hover .dropdown-content {
      display: block;
    }
  }
  
  .header .nav-item .dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #02264a;
    width: 100%;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 38px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 10px;
    padding: 0 10px 10px 10px;
    -webkit-transition: visibility 0s,
   opacity 0.3s ease-in-out;
    transition: visibility 0s,
   opacity 0.3s ease-in-out;
  }
  
  @media screen and (max-width: 990px) {
    .header .nav-item .dropdown-content {
      visibility: visible;
      opacity: 1;
      position: static;
      display: none;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    .header .nav-item .dropdown-content .dropdown-divider {
      margin: 0.2rem 0;
    }
  }
  
  .header .nav-item .dropdown-content hr {
    color: #1d4872;
  }
  
  .header .nav-item .dropdown-content a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    text-align: center;
    padding: 0.4rem 1rem;
    color: #ffffff;
    font-size: 22px;
    font-family: ndAstrooner;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  @media screen and (max-width: 990px) {
    .header .nav-item .dropdown-content a {
      text-align: start;
    }
  }
  
  @media screen and (max-width: 1300px) {
    .header .nav-item .dropdown-content a {
      font-size: 16px;
      padding: 0.4rem 1rem;
    }
  }
  
  .header .nav-item .dropdown-content a:hover {
    background-color: #4e6d8b;
  }
  
  .header .nav-item .nav-link {
    color: #02264a;
    padding: 6px 1.8rem;
    border-radius: 8px;
   font-family: 'Anek Odia', sans-serif;
    font-size: 22px;
  }
  
  @media screen and (max-width: 1300px) {
    .header .nav-item .nav-link {
      padding: 6px 0.8rem;
      font-size: 20px;
    }
  }
  
  .header .nav-item .nav-link:hover {
    color: white;
  }
  
  .header .nav-item .active {
    background-color: #02264a;
    color: white !important;
    border-radius: 8px;
  }
  
  .header .btn-outline-contact {
    border-color: #fd6c21;
    color: #fd6c21;
    display: block;
    padding: 0.375rem 1.3rem;
  }
  
  .header .btn-outline-contact:hover {
    color: #ffffff;
    background-color: #fd6c21;
  }
  
  .header .btn-outline-contact:active {
    opacity: 0.85;
  }
  
  .navbar-shadow {
    -webkit-box-shadow: 0px -1px 9px 2px #363636;
            box-shadow: 0px -1px 9px 2px #363636;
  }
  
  .sectionOne {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-top: 150px;
    background-color: #02264a;
    position: relative;
    z-index: 1;
  }
  
  .sectionOne::before {
    background: -webkit-gradient(linear, left top, right top, from(#02264a), color-stop(8%, rgba(2, 38, 74, 0.548)), color-stop(26%, rgba(2, 38, 74, 0.594275)), color-stop(50%, rgba(2, 38, 74, 0.8)), color-stop(75%, rgba(2, 38, 74, 0.759541)), to(rgba(2, 38, 74, 0.499037))), url(../../img/test.svg);
    background: linear-gradient(90deg, #02264a 0%, rgba(2, 38, 74, 0.548) 8%, rgba(2, 38, 74, 0.594275) 26%, rgba(2, 38, 74, 0.8) 50%, rgba(2, 38, 74, 0.759541) 75%, rgba(2, 38, 74, 0.499037) 100%), url(../../img/test.svg);
    background-repeat: repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
  }
  
  .sectionOne .section-one-side-left {
    padding: 1rem 0;
  }
  
  .sectionOne .section-one-side-left h1 {
    color: #ffffff;
   font-family: 'Anek Odia', sans-serif;
    font-weight: normal;
    width: 75%;
    font-size: 65px;
  }
  
  .sectionOne .section-one-side-left a {
    color: #ffffff;
    font-family: avenirHeavy;
    font-style: normal;
    background-color: #fd6c21;
    font-size: 22px;
    border-radius: 10px;
    text-decoration: none;
    padding: 18px 0;
    text-align: center;
    width: 70%;
    display: inline-block;
    margin-top: 40px;
    font-weight: 300;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  
  .sectionOne .section-one-side-left a:hover {
    opacity: 0.85;
  }
  
  .sectionTwo {
    background-color: #ffffff;
    background-image: url(../../img/Section-two-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  .sectionTwo .section-two-left h1 {
    color: #02264a;
    font-size: 65px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionTwo .section-two-left p {
    color: #02264a;
    font-size: 24px;
   font-family: 'Anek Odia', sans-serif;
    line-height: 1.3;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .sectionTwo .section-two-right p {
    margin-top: 40px;
    color: #6e7b88;
    font-size: 17px;
    width: 80%;
    text-align: start;
  }
  
  .section-thre {
    background-color: #02264a;
    background-image: url(../../img/Section-thre-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  .section-thre .customer h1 {
    color: #ffffff;
    text-align: center;
   font-family: 'Anek Odia', sans-serif;
    font-size: 65px;
  }
  
  .section-thre .customer p {
    color: #ffffff;
    padding: 0 6px;
    margin: 0;
   font-family: 'Anek Odia', sans-serif;
    display: inline-block;
    font-size: 24px;
  }
  
  .section-thre .customer img {
    padding: 0 40px;
    margin-top: 30px;
  }
  
  @media screen and (max-width: 720px) {
    .section-thre .customer img {
      padding: 0;
    }
  }
  
  .section-thre .content {
    margin-top: 60px;
  }
  
  .section-thre .content p {
    font-size: 18px;
    color: #7da3c7;
  }
  
  .sectionFour {
    color: #ffffff;
  }
  
  .sectionFour h2 {
    color: #a4b9ce;
    font-size: 34px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionFour h1 {
    color: #02264a;
    font-size: 65px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionFour h3 {
    color: #02264a;
    font-size: 28px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionFour .photo-item {
    margin-top: 200px;
  }
  
  @media screen and (max-width: 960px) {
    .sectionFour .photo-item {
      margin-top: 100px;
    }
  }
  
  @media screen and (max-width: 960px) {
    .sectionFour .photo-item img {
      width: 50%;
    }
  }
  
  .sectionFour .vs {
    text-align: center;
    font-size: 70px;
    letter-spacing: 12px;
  }
  
  .sectionFour .section-four-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .sectionFour .section-four-right img {
    width: 70%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: auto;
  }
  
  .sectionFour .section-four-right p {
    margin-top: 100px;
    color: #6e7b88;
    font-size: 22px;
    line-height: 1.4;
  }
  
  .sectionFive {
    background-color: #02264a;
  }
  
  .sectionFive h2 {
    color: #ffffff;
    font-size: 34px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionFive h1 {
    color: #ffffff;
    font-size: 65px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionFive p {
    color: #6e7b88;
    font-size: 22px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionSix {
    background-color: #ffffff;
  }
  
  .sectionSix .bgorange {
    background-color: #ffe7bf;
  }
  
  .sectionSix .bggreen {
    background-color: #eafdff;
  }
  
  .sectionSix .bgblue {
    background-color: #eaf3ff;
  }
  
  .sectionSix .main-card {
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .sectionSix .main-card .card-head {
    text-align: center;
    padding: 60px 0;
  }
  
  .sectionSix .main-card .card-head img {
    width: 35%;
  }
  
  .sectionSix .main-card .card-body {
    background-color: #ffffff;
    padding: 34px 0;
  }
  
  .sectionSix .main-card .card-body h2 {
    text-align: center;
    color: #02264a;
    font-size: 34px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionEight {
    background-color: #001a34;
  }
  
  .sectionEight .padding {
    padding: 0 100px;
  }
  
  @media screen and (max-width: 700px) {
    .sectionEight .padding {
      padding: 0 60px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .sectionEight .padding {
      padding: 0 10px;
    }
  }
  
  .sectionEight .title {
    text-align: center;
    color: #ffffff;
    font-size: 65px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .sectionEight .estate-body {
    background-color: #02264a;
    border-radius: 26px;
    margin-bottom: 49px;
  }
  
  .sectionEight .estate-body .side-left {
    padding: 80px 80px;
  }
  
  @media screen and (max-width: 1800px) {
    .sectionEight .estate-body .side-left {
      padding: 40px 80px;
    }
  }
  
  @media screen and (max-width: 720px) {
    .sectionEight .estate-body .side-left {
      padding: 20px 80px 0px 80px;
    }
  }
  
  .sectionEight .estate-body .side-right {
    padding: 30px 40px 30px 0px;
  }
  
  @media screen and (max-width: 1360px) {
    .sectionEight .estate-body .side-right {
      padding: 40px;
    }
  }
  
  .sectionEight .estate-body h2 {
    color: #ffffff;
    font-size: 50px;
   font-family: 'Anek Odia', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .sectionEight .estate-body p {
    color: #ffffff;
    font-size: 24px;
   font-family: 'Anek Odia', sans-serif;
    margin-bottom: 40px;
  }
  
  .sectionEight .estate-body h4 {
    color: #8193a5;
   font-family: 'Anek Odia', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
  }
  
  .sectionEight .estate-body h6 {
    color: #8193a5;
   font-family: 'Anek Odia', sans-serif;
    font-size: 20px;
    padding-right: 2rem;
  }
  
  .sectionEight .estate-body td {
    color: #ffffff;
    font-size: 20px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .contact {
    padding: 100px 0;
    background-color: #02264a;
    background-image: url(../../img/contact-bg.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .contact h1 {
    color: #ffffff;
    font-size: 65px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .contact form {
    padding: 0 100px;
  }
  
  @media screen and (max-width: 1140px) {
    .contact form {
      padding: 0 10px;
    }
  }
  
  .contact form .form-control {
    border-radius: 12px;
  }
  
  .contact form .form-column {
    margin-bottom: 30px;
  }
  
  .contact form textarea {
    resize: none;
  }
  
  .contact form input,
  .contact form textarea {
    color: #f0f0f0;
    border: solid 3px rgba(240, 240, 240, 0.137);
    background: none;
    padding: 20px 20px;
    font-size: 22px;
  }
  
  .contact form input:focus, .contact form input:active,
  .contact form textarea:focus,
  .contact form textarea:active {
    background: none;
    color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    border: solid 3px rgba(240, 240, 240, 0.466);
  }
  
  .contact form input::-webkit-input-placeholder,
  .contact form textarea::-webkit-input-placeholder {
    color: #f0f0f0;
    opacity: 0.27;
   font-family: 'Anek Odia', sans-serif;
    font-size: 22px;
  }
  
  .contact form input:-ms-input-placeholder,
  .contact form textarea:-ms-input-placeholder {
    color: #f0f0f0;
    opacity: 0.27;
   font-family: 'Anek Odia', sans-serif;
    font-size: 22px;
  }
  
  .contact form input::-ms-input-placeholder,
  .contact form textarea::-ms-input-placeholder {
    color: #f0f0f0;
    opacity: 0.27;
   font-family: 'Anek Odia', sans-serif;
    font-size: 22px;
  }
  
  .contact form input::placeholder,
  .contact form textarea::placeholder {
    color: #f0f0f0;
    opacity: 0.27;
   font-family: 'Anek Odia', sans-serif;
    font-size: 22px;
  }
  
  .contact form button {
    background-color: #29527b;
    color: #ffffff;
    font-size: 22px;
   font-family: 'Anek Odia', sans-serif;
    border-radius: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .contact form button:hover {
    background-color: #29527bab;
    color: white;
  }
  
  footer {
    background-color: #011a34;
    padding: 80px 0;
  }
  
  footer img {
    width: 310px;
  }
  
  footer h3 {
    font-size: 25px;
   font-family: 'Anek Odia', sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  footer h4 {
    font-size: 16px;
   font-family: 'Anek Odia', sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  footer .social-medias {
    margin-top: 25px;
  }
  
  footer .social-medias .first {
    padding: 0 10px 0 0;
  }
  
  @media screen and (max-width: 2500px) {
    footer .social-medias .first {
      padding: 0 2px 0 0;
    }
  }
  
  footer .social-medias a {
    padding: 0 10px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  @media screen and (max-width: 1250px) {
    footer .social-medias a {
      padding: 0 2px;
    }
  }
  
  footer .social-medias a:hover {
    opacity: 0.8;
  }
  
  footer .social-medias a svg {
    width: 32px;
    height: 32px;
  }
  
  @media screen and (min-width: 2400px) {
    footer .footer-bilgiler {
      padding: 0 9rem;
    }
  }
  
  @media screen and (max-width: 2500px) {
    footer .footer-bilgiler {
      padding: 0 7rem;
    }
  }
  
  @media screen and (max-width: 2200px) {
    footer .footer-bilgiler {
      padding: 0 5rem;
    }
  }
  
  @media screen and (max-width: 2000px) {
    footer .footer-bilgiler {
      padding: 0 4rem;
    }
  }
  
  @media screen and (max-width: 1820px) {
    footer .footer-bilgiler {
      padding: 0;
    }
  }
  
  footer .footer-bilgiler h6 {
    padding: 0 10px;
    font-size: 16px;
    color: #ffffff;
   font-family: 'Anek Odia', sans-serif;
    margin: 0;
  }
  
  .notice {
    background-color: #f7f7f7;
    padding-top: 150px;
  }
  
  .notice .notice-blue-card {
    background-color: #dbedff;
    border-radius: 8px;
    padding: 65px 45px;
  }
  
  .notice .notice-blue-card h3 {
    color: #02264a;
    font-size: 50px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .notice .notice-blue-card p {
    color: #02264a;
    font-size: 27px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .notice .notice-blue-card img {
    width: 260px;
    margin-right: 55px;
  }
  
  @media screen and (max-width: 960px) {
    .notice .notice-blue-card img {
      margin: 0;
    }
  }
  
  .notice .newsSwiper {
    position: relative;
  }
  
  .notice .newsSwiper h4 {
    color: #02264a;
    font-size: 32px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .notice .newsSwiper .newsSwiper-button-next {
    width: 50px;
    height: 50px;
    background: #000;
    position: absolute;
    top: calc(50% - 1.5rem);
    left: 0px;
  }
  
  .notice .newsSwiper .news-card {
    background-color: #ffffff;
    padding: 38px;
    border-radius: 12px;
    margin: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
  }
  
  .notice .newsSwiper .news-card p {
    color: #02264a;
    font-size: 26px;
   font-family: 'Anek Odia', sans-serif;
    line-height: 1.33;
  }
  
  .notice .newsSwiper .news-card h6 {
    color: #acacac;
   font-family: 'Anek Odia', sans-serif;
    font-size: 16px;
    margin: 0;
  }
  
  .notice .newsSwiper .news-card img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .faq {
    padding: 120px 0 !important;
  }
  
  .faq h2 {
    color: #02264a;
    font-size: 50px;
   font-family: 'Anek Odia', sans-serif;
  }
  
  .faq p {
    font-size: 24px;
   font-family: 'Anek Odia', sans-serif;
    color: #02264a;
    margin-bottom: 28px;
  }
  
  .faq h1 {
    color: #02264a;
    font-size: 60px;
   font-family: 'Anek Odia', sans-serif;
    text-align: center;
  }
  
  .faq .faq-tabs .bg-shadow {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  }
  
  .faq .faq-tabs .tab-item {
    overflow: hidden;
    border: solid 2px #f0f0f0;
    border-radius: 18px;
    position: relative;
    margin-bottom: 12px;
  }
  
  .faq .faq-tabs .tab-item .active {
    max-height: 200px !important;
  }
  
  .faq .faq-tabs .tab-item .active-head {
    background-color: #f5fbff;
  }
  
  .faq .faq-tabs .tab-item .active-arrow {
    -webkit-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
  }
  
  .faq .faq-tabs .tab-item .active-arrow:before, .faq .faq-tabs .tab-item .active-arrow:after {
    content: "";
    background: #326691 !important;
  }
  
  .faq .faq-tabs .tab-item .arrow {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 40%;
    right: 30px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  
  .faq .faq-tabs .tab-item .arrow:before, .faq .faq-tabs .tab-item .arrow:after {
    content: "";
    position: absolute;
    background: #abbbd9;
    border-radius: 0.5rem;
    display: block;
  }
  
  .faq .faq-tabs .tab-item .arrow.left, .faq .faq-tabs .tab-item .arrow.right {
    width: 24px;
  }
  
  .faq .faq-tabs .tab-item .arrow.left:before, .faq .faq-tabs .tab-item .arrow.right:before {
    top: 55%;
  }
  
  .faq .faq-tabs .tab-item .arrow.left:after, .faq .faq-tabs .tab-item .arrow.right:after {
    bottom: 55%;
  }
  
  .faq .faq-tabs .tab-item .arrow.left:before, .faq .faq-tabs .tab-item .arrow.left:after, .faq .faq-tabs .tab-item .arrow.right:before, .faq .faq-tabs .tab-item .arrow.right:after {
    left: -5%;
    height: 25%;
    width: 110%;
  }
  
  .faq .faq-tabs .tab-item .arrow.up, .faq .faq-tabs .tab-item .arrow.down {
    height: 22px;
  }
  
  .faq .faq-tabs .tab-item .arrow.up:before, .faq .faq-tabs .tab-item .arrow.down:before {
    left: 85%;
  }
  
  .faq .faq-tabs .tab-item .arrow.up:after, .faq .faq-tabs .tab-item .arrow.down:after {
    right: 95%;
  }
  
  .faq .faq-tabs .tab-item .arrow.up:before, .faq .faq-tabs .tab-item .arrow.up:after, .faq .faq-tabs .tab-item .arrow.down:before, .faq .faq-tabs .tab-item .arrow.down:after {
    top: -5%;
    height: 110%;
    width: 30%;
  }
  
  .faq .faq-tabs .tab-item .arrow.up:before, .faq .faq-tabs .tab-item .arrow.up:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .faq .faq-tabs .tab-item .arrow.up:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .faq .faq-tabs .tab-item .arrow.down:before, .faq .faq-tabs .tab-item .arrow.down:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .faq .faq-tabs .tab-item .arrow.down:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .faq .faq-tabs .tab-item .tab-title {
    padding: 28px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .faq .faq-tabs .tab-item .tab-title .active {
    color: #326691;
  }
  
  .faq .faq-tabs .tab-item .tab-title h4 {
    color: #0a1f31;
    font-size: 24px;
   font-family: 'Anek Odia', sans-serif;
    margin: 0;
  }
  
  .faq .faq-tabs .tab-item .tab-content {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    max-height: 0px;
    width: 100%;
  }
  
  .faq .faq-tabs .tab-item .tab-content p {
    padding: 28px 28px;
    color: #7c8993;
    font-size: 18px;
   font-family: 'Anek Odia', sans-serif;
    margin: 0;
  }
  .qa {
    height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-left: 200px;
  }
  .qa h1 {
    font-size: 36px;
    font-family:   'Sora', sans-serif;
    color: black;
  
    
  }
  
  .qaLine1 {
    display: flex;
    justify-content: space-between;
  }
  
  .question {
    justify-content: space-between;
    display: flex;
  }
  
  .question2 {
    justify-content: space-between;
    display: flex;
  }
  
  .questions {
    width: 840px;
    height: 115px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    padding: 20px;
    border-radius: 8px;
  }
  
  .questionsAfter {
    padding: 20px;
    border-radius: 8px;
    width: 840px;
    height: 200px;
    background-color: gray;
  }
  
  .questions p {
    font-weight: 350;
    font-size: 24px;
    color: black;
    font-family: 'Sora', sans-serif;
  }
  
  .questionsAfter p {
    font-weight: 350;
    font-size: 24px;
    color: white;
    font-family: 'Sora', sans-serif;
  }
  
  .questions2 {
    width: 540px;
    height: 115px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    padding: 20px;
    border-radius: 8px;
  }
  
  .questions2After {
    padding: 20px;
    border-radius: 8px;
    width: 540px;
    height: 200px;
    background-color: rgb(63, 81, 181);
  }
  
  .questions2After p {
    font-weight: 350;
    font-size: 24px;
    color: white;
    font-family:'Sora', sans-serif;
  }
  
  .questions2 p {
    font-weight: 350;
    font-size: 24px;
    color: black;
    font-family:'Sora', sans-serif;
  }
  
  
  .qaLine2 {
    margin-top: 30px;
    ;
    display: flex;
    justify-content: space-between;
  }
  
  .question3 {
    justify-content: space-between;
    display: flex;
  }
  
  .question4 {
    justify-content: space-between;
    display: flex;
  }
  
  .questions3 {
    width: 840px;
    height: 115px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    padding: 20px;
    border-radius: 8px;
  }
  
  .questions3After {
    padding: 20px;
    border-radius: 8px;
    width: 840px;
    height: 200px;
    background-color: gray;
  }
  
  .questions3After p {
    font-weight: 350;
    font-size: 24px;
    color: white;
    font-family: 'Sora', sans-serif;
  }
  
  .questions3 p {
    font-weight: 350;
    font-size: 24px;
    color: black;
    font-family: 'Sora', sans-serif;
  }
  
  .questions4 {
    width: 540px;
    height: 115px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    padding: 20px;
    border-radius: 8px;
  }
  
  .questions4 p {
  
    font-weight: 350;
    font-size: 24px;
    color: black;
    font-family: 'Sora', sans-serif;
  }
  
  .questions4After {
    padding: 20px;
    border-radius: 8px;
    width: 540px;
    height: 300px;
    background-color: rgb(63, 81, 181);
  }
  
  .questions4After p {
    font-weight: 350;
    font-size: 24px;
    color: white;
    font-family: 'Sora', sans-serif;
  }
  
  
  /* aa */
  .question5 {
    justify-content: space-between;
    display: flex;
  }
  .questions5 {
    width: 840px;
    height: 115px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    padding: 20px;
    border-radius: 8px;
  }
  
  .questions5 p {
  
    font-weight: 350;
    font-size: 24px;
    color: black;
    font-family: fahkwang;
  }
  
  .questions5After {
    padding: 20px;
    border-radius: 8px;
    width: 840px;
    height: 200px;
    background-color: gray;
  }
  
  .questions5After p {
    font-weight: 350;
    font-size: 24px;
    color: white;
    font-family: fahkwang;
  }
  .question6 {
    justify-content: space-between;
    display: flex;
  }
  
  .question4 {
    justify-content: space-between;
    display: flex;
  }
  
  .questions6 {
    width: 540px;
    height: 115px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  .questions6After {
    padding: 20px;
    border-radius: 8px;
    width: 540px;
    height: 500px;
    background-color:rgb(63, 81, 181);
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  
  .questions6After p {
    font-weight: 350;
    font-size: 24px;
    color: white;
    font-family: fahkwang;
  }
  
  .questions6 p {
    font-weight: 350;
    font-size: 24px;
    color: black;
    font-family: fahkwang;
    text-align: center;
  }
  @media screen and (max-width:500px) {
    .qa {
        height: 100%;
        width: 100%;
        margin-left: -10px;
    }
  
    .qa h1 {
        font-size: 35px;
        font-family: nuaMachina;
        color: white;
        margin-top: 170px;
        text-align: center;
    }
  
    .qaLine1 {
        display: flex;
        flex-direction: column;
  
        align-items: center;
    }
  
    .questions {
        width: 345px;
        height: 85px;
        border: 2px solid rgba(128, 128, 128, 0.432);
        padding: 20px;
        border-radius: 8px;
      margin-bottom: 10px;
    }
  
    .questions p {
        font-weight: 350;
        font-size: 19px;
      
        font-family: fahkwang;
    }
  
    .questionsAfter {
        padding: 20px;
        border-radius: 8px;
        width: 345px;
        height: 404px;
        background-color:gray;
        margin-bottom: 30px;
    }
  
    .questionsAfter p {
        font-weight: 350;
        font-size: 17px;
        color: white;
        font-family: fahkwang;
    }
  
    .questions2 {
        width: 345px;
        height: 65px;
        border: 2px solid rgba(128, 128, 128, 0.432);
        padding: 20px;
        border-radius: 8px;
    }
  
    .questions2 p {
        font-weight: 350;
        font-size: 20px;
     
        font-family: fahkwang;
    }
  
    .questions2After {
        padding: 20px;
        border-radius: 8px;
        width: 345px;
        height: 404px;
        background-color: gray;
    }
  
    .questions2After p {
        font-weight: 350;
        font-size: 17px;
        color: white;
        font-family: fahkwang;
    }
  
    .qaLine2 {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .qaLine3 {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .questions3 {
        width: 345px;
        height: 105px;
        border: 2px solid rgba(128, 128, 128, 0.432);
        padding: 15px;
        border-radius: 8px;

        margin-top: -20px;
    }
  
    .questions3 p {
        font-weight: 350;
        font-size: 20px;
    
        font-family: fahkwang;
    }
  
    .questions3After {
        padding: 20px;
        border-radius: 8px;
        width: 345px;
        height: 204px;
        background-color:gray;
       
    }
  
    .questions3After p {
        font-weight: 350;
        font-size: 17px;
    
        font-family: fahkwang;
    }
  
    .questions4 {
        width: 345px;
        height: 64px;
        border: 2px solid rgba(128, 128, 128, 0.432);
        padding: 15px;
        border-radius: 8px;
    }
  
    .questions4 p {
        font-weight: 350;
        font-size: 20px;
      
        font-family: fahkwang;
    }
  
    .questions4After {
        padding: 20px;
        border-radius: 8px;
        width: 345px;
        height: 205px;
        background-color: gray;
    
    }
  
    .questions4After p {
        font-weight: 350;
        font-size: 17px;
        color: white;
        font-family: fahkwang;
    }
    /* aa */
    .qaLine3 {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .qaLine6 {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .questions6 {
        width: 345px;
        height: 65px;
        border: 2px solid rgba(128, 128, 128, 0.432);
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 50px;
        margin-top: 20px;
    }
  
    .questions6 p {
        font-weight: 350;
        font-size: 20px;
        color: white;
        font-family: fahkwang;
    }
  
    .questions6After {
        padding: 20px;
        border-radius: 8px;
        width: 345px;
        height: 224px;
        background-color: rgb(36, 133, 224);
        margin-bottom: 50px;
    }
  
    .questions6After p {
        font-weight: 350;
        font-size: 17px;
        color: white;
        font-family: fahkwang;
    }
  
    .questions5 {
        width: 345px;
        height: 105px;
        border: 2px solid rgba(128, 128, 128, 0.432);
        padding: 15px;
        border-radius: 8px;
    }
  
    .questions5 p {
        font-weight: 350;
        font-size: 20px;
 
        font-family: fahkwang;
    }
  
    .questions5After {
        padding: 20px;
        border-radius: 8px;
        width: 345px;
        height: 205px;
        background-color:gray;
        margin-bottom: 50px;
    }
  
    .questions5After p {
        font-weight: 350;
        font-size: 17px;
        
        font-family: fahkwang;
    }
  }